Reply-To: {{.From}}
From: {{.From}}
To: {{.To}}
Subject: {{.Subject}}

こんにちは。ﾉﾎﾞﾘｽﾄ事務局です

パスワードの再設定が完了しました

=====================================================
■ﾉﾎﾞﾘｽﾄ事務局
=====================================================
