Reply-To: {{.From}}
From: {{.From}}
To: {{.To}}
Subject: {{.Subject}}

こんにちは。ﾉﾎﾞﾘｽﾄ事務局です
この度は会員登録いただきありがとうございます

パスワードの再設定を受け付けました。以下のリンクをクリックしてパスワード再設定を完了させてください
記載されたリンクは有効期限の設定をしておりますので、24時間以内にご確認ください

▼以下のリンクへアクセス
{{.Url}}/reset_password/verify?key={{.Key}}

=====================================================
■ﾉﾎﾞﾘｽﾄ事務局
=====================================================
