Reply-To: {{.From}}
From: {{.From}}
To: {{.To}}
Subject: {{.Subject}}

こんにちは。ﾉﾎﾞﾘｽﾄ事務局です
この度は会員登録いただきありがとうございます

以下の内容で、会員の登録を完了いたしました

--------------------------------------------------------------
メールアドレス：{{.To}}
--------------------------------------------------------------

=====================================================
■ﾉﾎﾞﾘｽﾄ事務局
=====================================================
